torch==2.3.1
torchgeo==0.5.1
geopandas==0.14.0
jupyter-events==0.9.0
jupyter-lsp==2.2.2
jupyter_client==8.3.1
jupyter_core==5.3.1
jupyterlab==4.0.12
jupyterlab_pygments==0.3.0
nbclient==0.9.0
nbconvert==7.14.2
nbformat==5.9.2
notebook==7.0.7
notebook_shim==0.2.3